@font-face {
    font-family:'Calibri-Regular';
    src: url('../fonts/Calibri_gdi.eot');
    src: url('../fonts/Calibri_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri_gdi.woff') format('woff'),
    url('../fonts/Calibri_gdi.ttf') format('truetype'),
    url('../fonts/Calibri_gdi.svg#Calibri-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}

@font-face {
    font-family:'Calibri-Bold';
    src: url('../fonts/Calibri-Bold_gdi.eot');
    src: url('../fonts/Calibri-Bold_gdi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Calibri-Bold_gdi.woff') format('woff'),
    url('../fonts/Calibri-Bold_gdi.ttf') format('truetype'),
    url('../fonts/Calibri-Bold_gdi.svg#Calibri-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-25CA;
}
