body {
    font-family: 'Calibri-Regular';
}

.width {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.width--big {
    width: 1170px;

}

.m0a {
    display: block;
    margin: 0 auto;
}

.dn {
    display: none;
}

/*Специальные элементы*/
.rouble {
    position: relative;
}

.rouble:after {
    content: "—";
    font-size: .7em;
    position: absolute;
    font-weight: 200;
    left: -7%;
    bottom: 8%;
}

/*Общие элементы*/

.input-text {
    width: 225px;
    border-radius: 30px;
    outline: none;
    height: 30px;
    font-size: 1.4rem;
    padding: 10px 15px;
    border: 0;
    box-shadow: inset 0px 2px 5px #9e9e9e;
}

.input-submit {
    width: 259px;
    border-radius: 30px;
    outline: none;
    height: 55px;
    font-size: 1.4rem;
    background: #009db4;
    color: #fff;
    border: 0;
    box-shadow: 0 3px 7px #a0a5a9;
}

.btn-orange{
    display: block;
    margin: 0 auto;
    background: #ff5400;
    color: #fff;
    text-decoration: none;
    font-family:'Calibri-Bold';
    font-size: 1.26rem;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.4);
}
.btn-orange:hover{
    background: #fd702b;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.6);
}
.btn-dark-green{
    width: 259px;
    border-radius: 30px;
    outline: none;
    height: 55px;
    font-size: 1.4rem;
    background: #009db4;
    color: #fff;
    border: 0;
    box-shadow: 0 3px 7px #a0a5a9;
}
.btn-dark-green:hover{
    background: #02b2cc;
    box-shadow: 0 5px 7px #6c6c6d;

}
.btn-white{
    text-decoration: none;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    border: 3px solid #fff;
    padding: 10px;
}
.btn-white:hover{
    background: #fff;
    color: #009db4;
}
.b-header {
    text-transform: uppercase;
    color: #000;
    line-height: 1rem;
    text-align: center;
    font-family: 'Calibri-Bold';
    margin: 20px 0 10px 0;
    padding: 0;
    font-size: 2.27rem;

}

/*Header*/

header {
    padding-top: 25px;
}

.b-header-logo {
    display: inline-block;
    vertical-align: top;
    width: 28%;
}

.b-header-logo__link img {
    width: 100%;
}

.b-header-adr {
    display: inline-block;
    vertical-align: top;
    width: 52%;
    text-align: center;
}

.b-h-adr__item {
    width: 37%;
    display: inline-block;
    text-align: left;
    margin-top: 10px;
    margin-left: -6px;
}

.b-h-adr-i-img {
    height: 12px;
    width: 12px;
    background: url("../img/baloon.png") 50% 50% no-repeat;
    display: inline-block;
    vertical-align: top;
    margin: 8px -4px 0 3px;
}

.b-header-contact {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.b-h-adr-i-text {
    vertical-align: top;
    font-weight: 700;
    display: inline-block;
    text-align: left;
    width: 89%;
    padding-left: 3%;
    padding-top: 2%;
    line-height: 1rem;
}

.b-header-contact__tel {
    font-family: 'Calibri-Bold';
    color: #585a5b;
    font-size: 1.8rem;
    margin-bottom: -10px;
}

.b-header-contact__link {
    color: #ff5400;
    text-decoration: none;
}

/*Навигационное меню*/

.b-nav {
    background: #009db4;
    margin-top: 17px;
    box-shadow: 0 2px 10px #000;
}

.b-nav-table {

}

.b-nav-table-td {
    padding: 13px 0;
}

.b-nav-table-td--orange {
    background: #ff5400;
}

.b-nav-table-td:hover {
    background: #036472;
}

.b-nav-table, .b-nav-table ul, .b-nav-table li {
    margin: 0;
    padding: 0;
    border: 0;
}

.b-nav-table {
    border-spacing: 0 0;
    position: relative;
    z-index: 50;
    width: 100%;
}

.b-nav-table-sub-menu {
    position: absolute;
    display: none;
    background: #036371;
    top: 55px;
    color: #fff;
    padding: 4px 4px 10px !important;
}

.b-nav-table td:hover ul {
    display: block;
    padding-bottom: 10px !important;
}

.b-nav-table ul li {
    list-style: none;
}

.b-nav-table .right {
    direction: rtl;
}

.b-nav-table .right ul {
    right: 0;
}

.b-nav-table .right li {
    direction: ltr;
}

.b-nav-table-td-link {
    font-family: 'Calibri-Bold';
    font-size: 1.2rem;
    display: block;
    padding: 3px 0;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.b-nav-table-sub-menu-item {
    font-family: 'Calibri-Bold';
    padding: 5px 15px;
    text-align: left;
    text-transform: none;
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.b-nav-table-sub-menu-item:hover {
    color: #90effd;
}

/*Футер*/

footer {
    background: #009db4;
}

.b-footer-nav {
    background: #036472;
}

.b-footer-nav-ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.b-footer-nav-ul__li {
    display: inline-block;
    padding: 12px 4.85%;

}

.b-footer-nav-ul__li:first-child {
    padding-left: 0;
}

.b-footer-nav-ul__li:last-child {
    padding-right: 0;
}

.b-footer-li-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.15rem;
}

.b-footer-li-link:hover {
    color: #90effd;
}

.b-footer-box {
    padding: 10px 0;
}

.b-footer-fist-col {
    display: inline-block;
    vertical-align: middle;

}

.b-footer-second-col {
    display: inline-block;
    vertical-align: middle;
    width: 17%;
    padding-left: 7%;
    text-align: center;

}

.b-footer-third-col {
    display: inline-block;
    vertical-align: middle;
    width: 28%;

}

.b-footer-four-col {
    display: inline-block;
    vertical-align: middle;

}

.b-footer-fifth-col {
    display: inline-block;
    vertical-align: middle;
    padding-left: 4%;

}

.b-footer-f-col-text {
    display: block;
    text-align: right;
    color: #fff;
    font-size: .9rem;
    line-height: 0;
    padding: 7px 17% 0 0;
}

.b-f-sec-tel__ico {
    background: url(../img/tel.png) 50% 50% no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
}

.b-f-sec-tel__text {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 85%;
}

.b-f-sec-mail__ico {
    background: url(../img/mail.png) 50% 50% no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: top;
}

.b-f-sec-mail__text {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 85%;
}

.b-footer-third-col__link {
    font-size: 1.3rem;
    padding: 7px 22px;
    text-decoration: none;
    margin-left: 11%;

}

.b-footer-fifth-col__p {
    color: #fff;
    font-size: .9rem;
    line-height: 1rem;
    display: inline-block;

}

/******************/
/*Главная страница*/
/******************/

.b-index-slider {
    padding: 40px 0 40px 0;
}

.b-main-slider__slide {
    height: 354px;
    background: url(../img/main-slider-bg.jpg) 50% 50% no-repeat;

}

.b-main-slider-arr {
    font-family: 'Calibri-Regular';
    font-size: 3rem;
}

.b-main-slider-arr {
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    transition-duration: .3s;
}

.b-main-slider-arr:hover {
    background: #ff5400;
}

.b-main-slider-arr--prev {
    transform: rotate(-45deg);
    box-shadow: -2px 4px 10px #bfbfbf;
    left: -40px;
    top: 50%;
    margin-top: -40px;

}

.b-main-slider-arr--next {
    transform: rotate(45deg);
    box-shadow: 2px 2px 10px #bfbfbf;
    right: -40px;
    top: 50%;
    margin-top: -40px;
}

.b-main-slider-arr--prev .b-m-slide-arr__item {
    transform: rotate(45deg);
    margin: -10px 0 0 15px;
}

.b-main-slider-arr--next .b-m-slide-arr__item {
    transform: rotate(135deg);
    margin: -10px 0 0 15px;
}

.b-m-slide-arr__item {
    background: url(../img/arr-spr.png) 0 0 no-repeat;
    display: block;
    height: 22px;
    width: 49px;
    position: relative;
    top: 50%;
    margin-top: -14px;
}
.b-main-slider-arr:hover{
    background: #fff;
    box-shadow: none;
}


.b-main-slider-arr:hover .b-m-slide-arr__item {
    background: url(../img/arr-spr.png) 0 -22px no-repeat;

}

.b-main-slider-dots {
    text-align: center;
    margin-top: -60px;
    z-index: 50;
    position: relative;
}

.b-main-slider-dots > li > button {
    display: none;
}

.b-main-slider-dots > li {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
    border: 2px solid #ff5400;
    border-radius: 50%;;
    background: transparent;
    transition-duration: .3s;
}

.b-main-slider-dots > li.slick-active,
.b-main-slider-dots > li:hover {
    background: #ff5400;

}

.b-m-sl-fist-slide {
    padding: 27px 70px;
    width: 100%;
    max-width: 340px;
}

.b-m-sl-fist-slide__head {
    font-family: 'Calibri-Bold';
    font-size: 2.26rem;
    line-height: 1;
    margin-bottom: 10px;
    display: block;
}

.b-m-sl-fist-slide__min-text {
    font-family: 'Calibri-Bold';
    display: block;
    font-size: 1.13rem;
    line-height: 1rem;
    margin-bottom: 20px;
}

.b-m-sl-fist-slide__text {
    font-family: 'Calibri-Bold';
    display: block;
    line-height: 1rem;
    font-size: 1.52rem;
}

.b-m-sl-fist-slide-text-price {
    font-size: 1.1em;
}

.b-m-sl-fist-sl-f-input-text {
    margin-top: 28px;
}

.b-m-sl-fist-sl-f-input-submit {
    margin-top: 20px;
}

.b-i-ser-box__item {
    display: inline-block;
    width: 18%;
    margin: 10px 1.25%;
    box-shadow: 0 3px 10px #b1b1b1;
}

.b-i-ser-box__item:nth-child(5n+1) {
    margin-left: 0;
}

.b-i-ser-box__item:nth-child(5n) {
    margin-right: 0;
}

.b-i-ser-box-item {
    background: #f5f2f2;
    padding: 13px 1.5%;
    min-height: 70px;
}

.b-i-ser-box-item__img {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    margin-left: 2%;
}

.b-i-ser-box-item__img img {
    width: 100%;
}

.b-i-ser-box-i-head {
    font-family: 'Calibri-Bold';
    display: block;
    font-size: 1.15rem;
}

.b-i-ser-box-i-price {
    font-family: 'Calibri-Bold';
    color: #ff5400;
    font-size: 1.2rem;
}

.b-i-ser-box-item__text {
    display: inline-block;
    vertical-align: top;
    width: 67%;
}
.b-index-happy-hours{
    position: relative;
    margin-bottom: 70px;
    margin-top: 45px;
}
.b-index-happy-hours__box {
    background: #009db4;
    height: 100px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.b-index-preference {
    background: #f5f2f2;
    padding-top: 35px;
}

.b-pref-box {
    background: url(../img/pref-bg.jpg) 50% 50% no-repeat;
    height: 470px;
    width: 1030px;
    margin: 0 auto;
    padding-top: 65px;
    position: relative;

}

.b-pref-box__item {
    position: absolute;
    width: 100px;
}

.b-pref-box-item__number {
    position: absolute;
    font-size: 4.3rem;
    color: #badee4;
    font-family: 'Calibri-Bold';
    top: 0;
    left: 0;
    line-height: 1rem;

}

.b-pref-box-item__text {
    line-height: 1.2rem;
    position: absolute;
    font-size: 1.1rem;
    width: 215px;
    color: #051e22;
}

.b-ind-hp-h-b__fist-col {
    display: inline-block;
    vertical-align: middle;
    width: 37%;
    border-right: 1px solid #80ceda;
    height: 100px;
}

.b-ind-hp-h-b-fist__img-col {
    display: inline-block;
    width: 21%;
    margin: 0 3% 0 4%;
    vertical-align: middle;

}

.b-ind-hp-h-b-fist__img-col img {
    width: 100%;
}

.b-ind-hp-h-b-fist__img-text {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

.b-ind-hp-h-b-f-img-text {
    color: #fff;

}

.b-ind-hp-h-b-f-img-text__head {
    font-family: 'Calibri-Bold';
    display: block;
    font-size: 1.12rem;
    margin-bottom: 2px;
}

.b-ind-hp-h-b-f-img-text__text {
    font-size: 1.1rem;
    display: block;
    margin-bottom: 4px;
}

.b-ind-hp-h-b__second-col {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    height: 100px;
    border-right: 1px solid #80ceda;
    padding: 0 1% 0 4%;

}

.b-ind-hp-h-b-second-col__head {
    text-align: left;
    display: block;
    color: #97eefb;
}

.b-ind-hp-h-b-second-col__time {
    text-align: left;
    display: block;
    color: #fff;
    margin-top: 6px;
}

.b-ind-hp-h-b__third-col {
    display: inline-block;
    vertical-align: top;
    width: 11%;
    border-right: 1px solid #80ceda;
    padding: 0 1% 0 3%;
    height: 100px;
}

.b-ind-hp-h-b__third-col__head {
    text-align: left;
    display: block;
    color: #97eefb;
}

.b-ind-hp-h-b__third-col__per {
    text-align: left;
    display: block;
    color: #fff;
    margin-top: 6px;
}

.b-ind-hp-h-b__four-col {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    height: 100px;
}

.b-ind-hp-h-b-four-col__big-link {
    display: block;
    width: 200px;
    margin: 0 auto 10px;
    font-family: 'Calibri-Bold';
    font-size: 1.25rem;



}

.b-ind-hp-h-b-four-col__after-link {
    display: block;
    text-align: center;
    color: #fff;
    border-bottom: 1px dashed #fff;
    text-decoration: none;
    width: 200px;
    margin: 0 auto;
    font-size: 1.15rem;
}

.b-ind-hp-h-b-four-col__after-link:hover {
    border-bottom: 0;
}

.b-index-happy-hours-btn {
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
    background: #fff;
    z-index: 100;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 5px 5px 10px #c0c0c0;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -30px;
}

.b-index-happy-hours-btn__arr {
    width: 30px;
    height: 30px;
    margin: 15px 15px;
    display: block;
    background: url(../img/arr-btn.png) 50% 50% no-repeat;
}
.b-index-happy-hours-btn:hover{
    background: #ff5400;
}
.b-index-happy-hours-btn:hover .b-index-happy-hours-btn__arr {
    background: url(../img/arr-btn-hover.png) 50% 50% no-repeat;

}
.b-index-doctors{
    padding-top: 30px;
    padding-bottom: 70px;
}


.b-ind-doctors__link-town{
    text-align: center;
}
.b-ind-doctors-link-town{
    display: inline-block;
    color: #009db4;
    border-bottom: 1px dashed #009db4;
    text-decoration: none;
    margin: 5px 20px;
    font-size: 1.25rem;
    cursor: pointer;
}
.b-ind-doctors-link-town--check{
    border-bottom: 0;
    color: #000;

}
.b-ind-doctors__slider{
    padding-top: 25px;
}
.b-ind-doctors__slider--hide{
    opacity: 0;
    position: absolute;
    z-index: -10000;
}
.b-ind-doctors-slider__item{
    outline: none;

}
.b-ind-doctors-slider__item:hover .b-ind-doctors-slider-item__img{
    box-shadow: 5px 7px 15px #878484;
}

.b-ind-doctors-slider-item{
    background: #f5f2f2;
    margin: 60px 5% 0;
    height: 115px;
    position: relative;
    padding-top: 170px;
}
.b-ind-doctors-slider-item__img{
    position: absolute;
    top: -60px;
    left: 50%;
    margin-left: -80px;
    box-shadow: 0 5px 15px #aeabab;
}
.b-ind-doctors-slider-item__header{
    color: #009db4;
    display: block;
    text-align: center;
    font-family:'Calibri-Bold';
    text-transform: uppercase;
    font-size: 1.05rem;
    line-height: 1.1rem;
    margin-bottom: 10px;
}
.b-ind-doctors-slider-item__text{
    color: #051e22;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 85%;
}
.b-main-slider-arr--next--doc{
    right: -85px;
    box-shadow: none;
}

.b-main-slider-arr--prev--doc{
    left: -85px;
    box-shadow: none;
}

.b-index-rew{
    background: url(../img/rew-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    padding-top: 25px;
    padding-bottom: 45px;
}
.b-index-rew-box{
    margin: 40px 0;
}
.b-index-rew__item{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}
.b-index-rew-item__img{
    display: inline-block;
    margin-right: -100px;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.b-i-rew-item__text{
    width: 88%;
    vertical-align: middle;
    display: inline-block;
    background: #009db4;
}
.b-i-rew-item-text{
    color: #fff;
    padding: 25px 0 50px 120px;
}
.b-i-rew-item-text__header{
    font-family:'Calibri-Bold';
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
.b-i-rew-item-text__text{
    display: block;
    width: 315px;
    margin-bottom: 10px;
}
.b-i-rew-item-text__date{
    display: block;
    font-style: italic;
}
.b-index-rew__all-rew{
    display: block;
    margin: 0 auto;
    background: #ff5400;
    color: #fff;
    width: 200px;
    text-decoration: none;
    font-family:'Calibri-Bold';
    font-size: 1.26rem;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.4);

}
.b-index-text{
    padding-top: 35px;
}
.b-index-text__left-col{
    display: inline-block;
    width: 68%;
    margin-right: 3%;
    vertical-align: top;
    margin-top: 35px;
}
.b-index-text-left-col{

}
.b-i-t-l-col-grey__img{
    display: inline-block;
    vertical-align: middle;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.4);
    margin-right: -255px;
    position: relative;
    z-index: 10;
}
.b-i-t-l-col-grey__text{
    background: #f5f2f2;
    display: inline-block;
    vertical-align: middle;
    width: 86%;
}
.b-i-t-l-col-grey-text{
    padding-left: 285px;
    padding-top: 20px;
    padding-bottom: 25px;
}
.b-i-t-l-col-grey-text__head{
    display: block;
    font-family:'Calibri-Bold';
    font-style: italic;
    font-size: 1.15rem;
    line-height: 1.2rem;
    
}
.b-i-t-l-col-grey-text__content{
    display: block;
    margin-top: 10px;
    width: 92%;
}

.b-i-t-l-col-white{
    padding-top: 50px;
    padding-bottom: 30px;
}


.b-i-t-l-col-white__head{
    display: block;
    font-family:'Calibri-Bold';
    font-size: 1.14rem;
}


.b-i-t-l-col-white__content{
    display: block;
    margin-top: 10px;
    width: 98%;

}

.b-index-text__right-col{
    display: inline-block;
    width: 29%;
    margin-top: 35px;
    vertical-align: top;
}
.b-index-text-right-col__text{
    background: #f5f2f2;
    min-height: 610px;
}
.b-index-text-right-col__img{
    margin: 0 auto -95px;
    display: block;
    position: relative;
    z-index: 10;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .4);
}
.b-index-text-right-col-text{
    padding: 115px 30px 0 30px;
}
.b-index-text-right-col-text__head{
    display: block;
    font-family:'Calibri-Bold';
    font-size: 1.13rem;
}
.b-index-text-right-col-text__content{
    display: block;
    padding-top: 10px;
}
.b-index-text-seo{
    clear: both;
    margin-bottom: 30px;
}


.b-index-text-seo__img{
    display: inline-block;
    width: 22%;
    margin-right: -160px;
    position: relative;
    z-index: 10;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.4);
}
.b-index-text-seo__bg{
    background: #f5f2f2;
    width: 91%;
    display: inline-block;
    padding-bottom: 20px;
}
.b-index-text-seo__text{
    width: 73%;
    display: inline-block;
}
.b-index-text-seo__list{
    display: inline-block;
    vertical-align: top;
    width: 24%;
    padding: 27px 0 0 2%;
}
.b-index-text-seo-text__header{
    display: block;
    font-family: 'Calibri-Bold';
    font-size: 1.65rem;
    text-transform: uppercase;
    line-height: 1.7rem;
    padding: 20px 0px 0 26px;
}
.b-index-text-seo-list__header{
    font-family: 'Calibri-Bold';
    font-size: 1.05rem;
    padding-bottom: 5px;
    display: block;
}
.b-index-text-seo-text__content{
    padding-left: 180px;
    padding-top: 10px;

}
.b-index-text-seo-list__ul{
    padding: 0;
    margin: 0;

}
.b-index-text-seo-list__ul li{
    list-style-type: none ;
}
.b-index-text-seo-list__ul li a{
    color: #009db4;
    font-size: .9rem;
    line-height: 1rem;

}
.b-index-text-seo-list__ul li a:hover{
    text-decoration: none;

}